* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.dimmer {
      background: #000;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
  }

#navbar1 {
    height: 60px;
    width: 100vw;
    background: #131921;
    position: relative;
    top:0;
    left:0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.amazon-logo{
    margin:1px;
    position: absolute;
    width: 116px;
    height: 45px;
    padding:4px 4px 4px 0;
    top:3px;
    left: 10px;
}

.amazon-logo:hover {
    
    border: 1px solid white;
    border-radius: 3px;
}

.deliver img {
    height: 15px;
    background:#131921;
}

.deliver {
    position: absolute;
    background: #131921;
    width: 75px;
    height: 50px;
    display: flex;
    border:none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 0 8px 1px;
    top:3px;
    left: 130px;
}

.deliver2 {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    left:15px;
}

.deliver:hover {
    border: 1px solid white;
    border-radius: 3px;
}
.deliver img {
    position: absolute;
    top:20px;
    left: -3px;
}
.deliver h4 {
    color: #A9AAAB;
    font-size: 12px;
    font-weight: 400;
}

.deliver h3 {
    color:#ffffff;
    font-size: 14px;
    font-weight: 700;
}

.search {
    height: 40px;
    width: 1253px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 250px;
}

.all-btn {
    position: absolute;
    left: 0;
    width:51px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 0.5px solid #c5c4c4;
    color:  #818181;
}

.all-btn:hover{
    color: black;
    background: #c5c4c4;
}

.arrow{
    width: 0px;
    height: 0px;
    border:4px solid transparent;
    margin-left: 6px;
  }

.arrow.arrow-down{
  border-top-color: #818181;
  border-bottom-width: 0px;
}

.search-in {
    height: 40px;
    width: 1157px;
    border:none;
    color: #444343;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.magnifier {
    position: absolute;
    right: -27px;
    width: 45px;
    height: 40px;
    background:#febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 30px;
   
}

.search img {
    margin:10px 0 0 10px;
    height: 27px;
    width: 23px;
}

.magnifier:hover{
    background:#f3a847 ;
}

/* --------------------- right side of the first navbar --------------------- */
.top-right {
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.top-right .arrow.arrow-down {
    border-top-color: #818181;
    display: inline-block;
}

.language {
    position: relative;
    right: 60px;
    top:5px;
    width: 55px;
    height: 50px;
    padding:20px 15px 5px 10px;
    margin-top:-10px;
    transition: 1s;
}

.language:active +.lang {
    border: 1px solid white;
    border-radius: 3px;
    display: block;
}



.language lang ul {
    display: block;
}
.lang {
    padding: 0;
    margin: 0;
    position: absolute;
    background: #FFFFFF;
    top:50px;
    left:-55px;
    z-index: 5;
    display: none;
    transition: 1s;
}

.lang input {
   background-color: #f3a847;
}

.lang span {
    color: #86B6E1;
    }

.lang li {
    width: 100%;
    list-style: none;
    color: black;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

.lang ul li:last-child {
    text-align: center;
}
.lang ul :first-child li {
     border:1px solid red;
     top: 10px;
     display: block;
     ;
}

/* input[type='radio'] {
    appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
  }
  
  input[type='radio']:hover {
    box-shadow:0 0 5px 0px white;
  }
  
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background:green;
  } */

/* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */

.lang a{
    text-align: left;
    left:-6px;
    top:-30px;
}

.lang img {
    width:20px;
}

.lang a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

   
.arrow2{
    position: absolute;
    right:7px;
    top:30px;
    width: 0px;
    height: 0px;
    border:4px solid transparent;
    margin-left: 6px;
  }

.arrow2.arrow-down2{
  border-top-color: #818181;
  border-bottom-width: 0px;
}

.language img {
    width: 25px;
}

.account {
    position: relative;
    right: 70px;;
  
    padding: 10px;
}

.account:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.arrow3{
    position: absolute;
    right:0;
    top:32px;
    width: 0px;
    height: 0px;
    border:4px solid transparent;
    margin-left: 6px;
  }

.arrow3.arrow-down3{
  border-top-color: #818181;
  border-bottom-width: 0px;
}

.account h3 {
    color: #E9F0F6;
    font-size:12px;
    font-weight: 400;
}

.account h2 {
    color:#E9F0F6;
    font-size: 14px;
    font-weight: 700;
}

.returns-orders {
    position: relative;
    left: -60px;
    padding: 10px;
}

.returns-orders:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.returns-orders h5 {
    color: #E9F0F6;
    font-size:12px;
    font-weight: 400;
}

.returns-orders h4 {
    color:#E9F0F6;
    font-size: 14px;
    font-weight: 700;
}

.basket {
    position: relative;
    left: -45px;
    display: flex;
    width: 80px;
    height: 50px;
    align-items: center;
    padding:18px 10px 18px 10px;
}

.basket:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.basket img {
    width: 38px;
}

.basket h4 {
    position: absolute;
    right: 3px;
    top: 25px;
    color:#E9F0F6;
    align-self: flex-end;
    font-size: 14px;
    font-weight: 700;
}

.basket h3 {
    position: absolute;
    top:7px;
    color:#f3a847;
    right: 44px;
    font-size: 16px;
}

/* ---------------------navbar 2 ----------------------- */

#navbar2 {
    height: 39px;
    width: 100vw;
    background: #232F3E;
    position: relative;
    top:60;
    left:0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.all-btn2 {
    color: #F1FFFF;
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    width:70px;
    padding: 2px;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    height: 29px;
    text-decoration: none;
}

.all-btn2::after {
    content: '';
    position: absolute;
    top: -63px;
    left: -2px;
    width: 370px;
    height: 100vh;
    display: inline-block;
    transition: 0.5s;
    visibility: hidden;
    
}


.all-btn2:hover {
    border: white 1px solid;
}

.all-btn2 img {
    height: 16px;
}

.nav2-left {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav2-left h3 {
    color: #E9F0F6;
    font-size:14px;
    font-weight:bold;
    padding: 4px 10px;
    
}

.nav2-left h3:hover {
    border: solid 1px white;
}

.nav2-right h4 {
    font-size: 14px;
    font-weight: 700;
    color:#E9F0F6;
    padding: 2px 4px;
}

.nav2-right:hover {
    border: solid 1px white;
}

/* -------------------page head ------------ */
.up {
    display: flex;
    position: relative;
    left:300px;
    top:8px;
}

.up h5 {
    font-size: 12px;
    font-weight: 400;
    color: #565959;
}

.up a {
    text-decoration: none;
}


/* ---------------------Grid----------------------- */

.pic-left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40px;
    height: 600px;
    top:45px;
    left: 220px;
}

.pic-left a {
    border: black 0.1px solid;
    margin-bottom: 8px;
    border-radius: 2px;
}

.pic-left a:hover {
    outline: none;
    border-color: #e68d1a;
    box-shadow: 0 0 10px #e68d1a;
}

.pic-left img {
        object-fit: contain;
        width: 40px;
        height: 40px;
        padding: 1px;
        background-position: center;
        background-size: cover;
}

.left1 {
    background: url(/img/first100.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left1::after {
    content: '';
    position: absolute;
    background: url(/img/first200.jpg) no-repeat center center/cover;
    width: 679px;
    height: 679px;
    left:48px;
    visibility: hidden;
    top:-48px;

}

.left1:hover::after{
    visibility: visible;
}

/* .big-pic1 {
    position: absolute;
    width: 679px;
    height: 679px;
    background:url(/img/first500.jpg);
    top: 0px;
    left: 48px;
    display: none;
}

.left1:hover + .big-pic1 {
    display: block;
} */

.left2 {
    background: url(/img/second350.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left2::after {
    content: '';
    position: absolute;
    background: url(/img/second-big.jpg) no-repeat center center/cover;
    width: 679px;
    height: 679px;
    left:48px;
    visibility: hidden;
    top:-48px;
}

.left2:hover::after{
    visibility: visible;
}
.left3 {
    background: url(/img/three350.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left3::after {
    content: '';
    position: absolute;
    background: url(/img/third-big.jpg) no-repeat center center/cover;
    width: 679px;
    height: 679px;
    left:48px;
    visibility: hidden;
    top:-96px;
}

.left3:hover::after{
    visibility: visible;
}
.left4 {
    background: url(/img/four350.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left4::after {
    content: '';
    position: absolute;
    background: url(/img/four-big.jpg) no-repeat center center/cover;
    width: 679px;
    height: 679px;
    left:48px;
    visibility: hidden;
    top:-144px;
}

.left4:hover::after{
    visibility: visible;
}
.left5 {
    background: url(/img/five350.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left5::after {
    content: '';
    position: absolute;
    background: url(/img/five-big.jpg) no-repeat center center/cover;
    width: 679px;
    height: 679px;
    left:48px;
    visibility: hidden;
    top:-192px;
}

.left5:hover::after{
    visibility: visible;
}
.left6 {
    background: url(/img/six-350.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left6::after {
    content: '';
    position: absolute;
    background: url(/img/six-big.jpg) no-repeat center center/cover;
    width: 679px;
    height: 679px;
    left:48px;
    visibility: hidden;
    top:-240px;
}

.left6:hover::after{
    visibility: visible;
}

.left7 {
    background: url(/img/seven-big.jpg) no-repeat center center/cover;
    width: 40px;
    height: 40px;
    position: relative;
}

.left7::after {
    content: '';
    position: absolute;
    background: url(/img/seven-big.jpg) no-repeat center center/cover;
    width: 667px;
    height: 385px;
    left:48px;
    visibility: hidden;
    top:-288px;
}

.left7:hover::after{
    visibility: visible;
}


/* -------------------------grid--------------------- */

.grid {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 1rem;
}